<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Нужно для определения вашего местоположения и направления на спутник</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Нужно для отслеживания спутников в фоновом режиме</string>
</dict>
</plist>
