<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDark</string>
				</array>
			</dict>
			<key>AppIconLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconLight</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDark</string>
				</array>
			</dict>
			<key>AppIconLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconLight</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Нужно для определения вашего местоположения и направления на спутник</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Нужно для отслеживания спутников в фоновом режиме</string>
</dict>
</plist>
